body {
  margin: 0;
  padding: 0;
}

:root {
  --widthValue:96%;
  --marginAuto : 2% auto;
  --paddingFixed : 2%;
}


/* ------------------------------------------------------------------ */
.px14 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  
  color: #333333;
}

.px14_Color7777 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  color: #777777;
}

.px14_ZeroPointEightOpacity {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.063rem;
  color: #777777;
  opacity: 0.8;
}

.px14_ZeroPointEightOpacity_Color010101 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.063rem;
  color: #010101;
  opacity: 0.8;
}

.px16 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  text-transform: capitalize;
  color: #333333;
}

.px12_ZeroPointEightOpacity {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.938rem;
  color: #777777;
  opacity: 0.8;
}

.successfullText {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #00AF12;
}
/* ------------------------------------------------------------- */

.settings {
  display: flex;
  width: 100%;
  background-color: #f4f5ff;
  font-family: 'Montserrat', sans-serif;
}

/* setting left section -------- */

.setting-left {
  width: 16.25rem;
  text-align: left;
  background-color: #FFFFFF;
  border-right: 0.3px solid #C4C4C4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setting-left p {
  font-style: normal;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.688rem;
  color: #333333;
}

.setting-left ul {
  padding-left: 0 !important;
}


.setting-left ul .focus {
  background-color: #EEEEEE;
  font-weight: 600;

}

.setting-left ul li {
  list-style-type: none;
}

.setting-left ul li a{
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #333333;
}

/* setting right section -------- */

.setting-right {
  width: 100%;
}

.setting-profile {
  background-color: #FFFFFF;
  border-bottom: 0.3px solid #C4C4C4;
  /* border: 1.5px solid #C4C4C4; */
}
.setting-profile > div{
  width: var(--widthValue);
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 1% 0;
  gap: 1%;
}

.setting-profile-details p{
  margin-bottom: 0;
}


/* credit-institution-information div ----- */

.credit-institution-information {
  background-color: #FFFFFF;
  /* margin: 4%; */
  width: var(--widthValue);
  margin: var(--marginAuto);
  padding: var(--paddingFixed);
  border-radius: 10px;
}

.credit-institution-information-buttom{
  display: flex;
  gap: 5%;

}

.credit-institution-org-logo{
  text-align: center;
}

.credit-institution-org-favicon{
  text-align: center;
}

/* basic information div -----------------------*/

.basic-information {
  background-color: #FFFFFF;
  width: var(--widthValue);
  margin: var(--marginAuto);
  padding: var(--paddingFixed);
  border-radius: 10px;
  display: flex;
  flex-direction: column;

}

.basic-information-address-more {
  display: flex;
  gap: 6%;
}

.basic-information-address-line div{
  margin: 1.5rem 0;
  
}
.basic-information-address-line div p{
  line-height: 0.5rem;
}

/* authorized-super-admin-user section --------------------- */

.authorized-super-admin-user {
  width: var(--widthValue);
  margin: var(--marginAuto);
  background-color: #FFFFFF;
  padding: var(--paddingFixed);
  border-radius: 10px;
}

.authorized-super-admin-user-info {
  display: flex;
  gap: 10%;
}

.authorized-super-admin-email div {
  display: flex;
}

.authorized-super-admin-user-mobile div {
  display: flex;
}

/* bureau-membership-certificate section  */

.bureau-membership-certificate {
  width: var(--widthValue);
  margin: var(--marginAuto);
  background-color: #FFFFFF;
  padding: var(--paddingFixed);
  border-radius: 10px;
}

.bureau-membership-certificate-details {
  display: flex;
  justify-content: space-between;
}

/* document-validating-credit-institution section  */

.document-validating-credit-institution {
  background-color: #FFFFFF;
  width: var(--widthValue);
  margin: var(--marginAuto);
  padding: var(--paddingFixed);
  border-radius: 10px;
}

.document-validating-credit-institution-details {
  display: flex;
  justify-content: space-between;
}


/* authorization-certificate-for-super-admin-user section  */

.authorization-certificate-for-super-admin-user {
  background-color: #FFFFFF;
  width: var(--widthValue);
  margin: var(--marginAuto);
  padding: var(--paddingFixed);
  border-radius: 10px;
}

.authorization-certificate-for-super-admin-user-details {
  display: flex;
  justify-content: space-between;
}


/* locale-information section  */

.locale-information {
  background-color: #FFFFFF;
  width: var(--widthValue);
  margin: var(--marginAuto);
  padding: var(--paddingFixed);
  border-radius: 10px;
}

.locale-information-details {
  display: flex;
  gap: 10%;
}

/* footer-btn section  */

.footer-btn {
  display: flex;
  justify-content: space-between;
  margin: 4%;
  border-radius: 10px;
  width: var(--widthValue);
  margin: var(--marginAuto);
}

.footer-btn a {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #E43226;
  text-decoration: none;
}

.btn-div .btn-cancel {
  padding: 0.75rem 63px;
  gap: 0.625rem;
  background: #FFFFFF;
  border: 0.5px solid #E43226;
  border-radius: 4px;
  color: #E43226;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 0.938rem;
  line-height: 22px;
}

.btn-div .btn-saveChange {
  padding: 0.75rem 63px;
  gap: 0.625rem;
  background: #2B378D;
  border-radius: 4px;
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 0.938rem;
  line-height: 22px;
}